<!DOCTYPE html>
<html>
<head>
<meta charset=UTF-8>
	<title>修改界面</title>
	<style type="text/css">
	form { margin: 0 auto;width: 100px;}
	h1 { text-align:center;}
	</style>
</head>
<body>

<form action="./index.php?c=User&a=doUpdate" method="post">
	<table align="center" bgcolor="yellow" cellspacing="2px" cellpadding="2px" border="2px" bordercolor="blue">  <caption align="center" >个人中心</caption>
		<tr>
			<td>name:</td>	 
			<td><input type="text" name="username"     value="<?php echo $info['name']; ?>"></td>
		</tr>
		<tr>
			<td>age:</td>  
			<td><input type="text" name="age"          value="<?php echo $info['age']; ?>"></td>
		</tr>
		<tr>	
			<td>password:</td>
			<td><input type="text" name="password"     value="<?php echo $info['password']; ?>"></td>
		</tr>
		<tr>
			<td><input type="hidden" name ="id"        value="<?php echo $info['id']; ?>"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" name ="ok"          value="yes"></td>
		</tr>
	</table>
</form>

</body>
</html>