<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		/*body {width:1000px;margin: 0 auto}*/
		table {margin:0 auto;}
		td {width:100px;text-align:center;}
	</style>
	<meta charset="utf-8">
</head>
<body>
<?php if (isset($_SESSION['me']['id'])) { ?>
<h1>你好 <?php echo $_SESSION['me']['name'] ?> </h1>
<img src="<?php echo $_SESSION['me']['image']; ?>" width="50" height="50" alt="no pic">
<a href="index.php?c=UserCenter&a=logout">注销</a>
<?php } else { ?>
<a href="index.php?c=UserCenter&a=login">登录</a>
<?php } ?>
<table border="1px" cellspacing="0" cellpadding="0"> 
	<tr>
		<td>序号</td>
		<td>段子</td>
		<td>用户</td>
		<td>图片</td>
		<td>分类</td>
		<td>上传时间</td>
		<td>操作</td>
	</tr>

	<?php foreach($data as $key=>$value) { ?>
	<tr>
		<td><?php echo $value['id']; ?></td>
		<td><?php echo mb_substr($value['content'], 0, 19,'utf8'); ?></td>		
		<td><?php echo $value['user_name']; ?></td>
		<td><img src="<?php echo $value['image']; ?>" width="100" height="100" alt="no pic"></td>
		<td><?php echo $value['name']; ?></td>
		<td><?php echo $value['createtime'] > 0 ? date("Y-m-d H:i:s",$value['createtime']) : "无"; ?></td>
		<td><a href="index.php?c=Blog&a=Info&id=<?php echo $value['id']; ?>">详情</a></td>
	</tr>
	<?php } ?>
</table>
<div >
	<ul>
		<?php for ($i=1; $i<=$allpage; $i++) { ?> 
			<li><a href="index.php?c=Blog&a=lists&p=<?php echo $i; ?>"><?php echo $i; ?></a></li>
		<?php } ?>
	</ul>	
</div>
<a href="index.php?c=Blog&a=add">发段子</a>
</body>
</html>